In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
# Load the dataset
df = pd.read_csv("heart.csv")

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
df['target'].unique()

array([0, 1], dtype=int64)

In [5]:
df.shape

(1025, 14)

In [7]:
# Select the relevant features for K-means (excluding "Time" and "Class")
X = df.iloc[:, 0:13]  # Select columns V1 to V28 and Amount
y = df.iloc[:,13]

In [8]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2

In [9]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [23]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [24]:
# Standardize the feature values
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [25]:
model = keras.Sequential([
    keras.layers.Input(shape=(X_train.shape[1],)),
    keras.layers.Dense(128, activation='relu'),
    keras.layers.Dense(64, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')  # Use 'sigmoid' for binary classification
])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [26]:
model.fit(X_train, y_train, epochs=20, batch_size=32, validation_split=0.20)

test_loss, test_accuracy = model.evaluate(X_test, y_test)
print("Test accuracy:", test_accuracy)

Epoch 1/20
21/21 [==============================] - 1s 10ms/step - loss: 0.5083 - accuracy: 0.8155 - val_loss: 0.4592 - val_accuracy: 0.7683
Epoch 2/20
21/21 [==============================] - 0s 4ms/step - loss: 0.3353 - accuracy: 0.8613 - val_loss: 0.4095 - val_accuracy: 0.8110
Epoch 3/20
21/21 [==============================] - 0s 4ms/step - loss: 0.2932 - accuracy: 0.8826 - val_loss: 0.3973 - val_accuracy: 0.8232
Epoch 4/20
21/21 [==============================] - 0s 4ms/step - loss: 0.2690 - accuracy: 0.8963 - val_loss: 0.3856 - val_accuracy: 0.8415
Epoch 5/20
21/21 [==============================] - 0s 3ms/step - loss: 0.2531 - accuracy: 0.9024 - val_loss: 0.3842 - val_accuracy: 0.8537
Epoch 6/20
21/21 [==============================] - 0s 3ms/step - loss: 0.2395 - accuracy: 0.9116 - val_loss: 0.3685 - val_accuracy: 0.8720
Epoch 7/20
21/21 [==============================] - 0s 3ms/step - loss: 0.2210 - accuracy: 0.9162 - val_loss: 0.3646 - val_accuracy: 0.8476
Epoch 8/20
21/21 [==============================] - 0s 4ms/step - loss: 0.2098 - accuracy: 0.9223 - val_loss: 0.3540 - val_accuracy: 0.8720
Epoch 9/20
21/21 [==============================] - 0s 3ms/step - loss: 0.1960 - accuracy: 0.9268 - val_loss: 0.3416 - val_accuracy: 0.8780
Epoch 10/20
21/21 [==============================] - 0s 3ms/step - loss: 0.1828 - accuracy: 0.9329 - val_loss: 0.3449 - val_accuracy: 0.8659
Epoch 11/20
21/21 [==============================] - 0s 4ms/step - loss: 0.1708 - accuracy: 0.9375 - val_loss: 0.3267 - val_accuracy: 0.8780
Epoch 12/20
21/21 [==============================] - 0s 3ms/step - loss: 0.1582 - accuracy: 0.9421 - val_loss: 0.3169 - val_accuracy: 0.8720
Epoch 13/20
21/21 [==============================] - 0s 4ms/step - loss: 0.1464 - accuracy: 0.9497 - val_loss: 0.3143 - val_accuracy: 0.8780
Epoch 14/20
21/21 [==============================] - 0s 4ms/step - loss: 0.1367 - accuracy: 0.9558 - val_loss: 0.3121 - val_accuracy: 0.8902
Epoch 15/20
21/21 [==============================] - 0s 3ms/step - loss: 0.1249 - accuracy: 0.9619 - val_loss: 0.3004 - val_accuracy: 0.8963
Epoch 16/20
21/21 [==============================] - 0s 4ms/step - loss: 0.1145 - accuracy: 0.9665 - val_loss: 0.2920 - val_accuracy: 0.8841
Epoch 17/20
21/21 [==============================] - 0s 5ms/step - loss: 0.1048 - accuracy: 0.9710 - val_loss: 0.2815 - val_accuracy: 0.8963
Epoch 18/20
21/21 [==============================] - 0s 4ms/step - loss: 0.0968 - accuracy: 0.9741 - val_loss: 0.2780 - val_accuracy: 0.8963
Epoch 19/20
21/21 [==============================] - 0s 4ms/step - loss: 0.0889 - accuracy: 0.9802 - val_loss: 0.2694 - val_accuracy: 0.9146
Epoch 20/20
21/21 [==============================] - 0s 3ms/step - loss: 0.0820 - accuracy: 0.9817 - val_loss: 0.2526 - val_accuracy: 0.9146
7/7 [==============================] - 0s 2ms/step - loss: 0.2228 - accuracy: 0.9220
Test accuracy: 0.9219512343406677

In [27]:
predictions = model.predict(X_test)

7/7 [==============================] - 0s 1ms/step